@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p style="font-size: 20px;">@ViewBag.Message</p>

<p style="font-size: 14px;">The BIT College system allows for entry and maintenance of College data.</p>
