
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<style>
    .address-line {
        margin-bottom: 0.5em; /* Adjust this value if need more or less spacing */
    }
</style>

<div class="contact-info">
    <h3>Your contact page.</h3>
    <div class="address-line">160 Princess Street</div>
    <div class="address-line">Winnipeg, MB R3B 1K9</div>
    <div>P. 204.632.2327</div>
</div>